.idea
.idea/*
src/ezid_helper/creds.json
src/ezid_helper/creds-*.json
src/ezid_helper/output/doi-responses/*
src/github_issue_scraper/output/*

creds.json
*/creds.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

src/poormans-log-reader/test-data/server_dv_only.txt

src/poormans-log-reader/test-data/request_list.txt

src/poormans-log-reader/test-data/server_access_log.2015-10-08.txt

src/poormans-log-reader/test-data/server_access_log.2015-10-27.txt

src/stress_tests/mydata_links.py

src/api_scripts/key_str.txt

src/api_scripts/output/result.html

src/test_tabular_files/output/*

src/wm-vagrant/.vagrant/*
src/wm-vagrant/cga-worldmap
src/wm-vagrant/cga-worldmap/*

src/wm-vagrant/shared-dataverse-information/
